<div class="jumbotron">

	<center>

		<img src="http://s23.postimg.org/9dv9dnicr/doughnoz_01.png">

		<h2 class="highlight">There's no place like a Doughnut Shop</h2>
		<h1 style"color:white;">doughnOZ.</h1>

		
		<br>

		<h4>We specialize in gourmet doughnuts that only a Wonderful Wizard could imagine.</h4>

		<h4>So have a heart, use your brain, be courageous and follow the yellow brick road to 123 Main St. Kansas City, Kansas</h4>

		<%= link_to "View Today's Doughnuts!", doughnuts_path, class: "btn btn-success" %>
	</center>

</div>